#content{
    display: inline-block;
    margin-left: 120px;
}

#change-date-box{
    width:100%;
}

.car-box{
    border-bottom: 1px grey dotted;
    margin-bottom: 50px;
}

.car-picture{
    display: inline-block;
    width: 500px;
}

.car-details{
    display: inline-block;
    vertical-align: top;
    width: 260px;
    margin: 0 30px;
}

.car-name{
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.car-specification{
    font-size: 18px;
}

.car-specification > div{
    margin: 10px auto;
}

.car-specification-icon{
    width:25px;
    vertical-align:middle;
    margin-right: 8px;
}

.car-rent{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

.car-price{
    font-size: 25px;
}

a{
    text-decoration:none;
}

.book-button{
    width: 180px;
    height:40px;
    display: block;
    text-align:center;
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin-top: 80px;
}

.book-button:hover{
    color: white;
    background-color: black;
}

#add-vehicle-button{
    background-image: url("addCarIcon.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    margin: -20px 50px 25px 480px;
}

.remove-vehicle-button{
    background-image: url("removeCarIcon.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.edit-vehicle-button{
    background-image: url("editCarIcon.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    vertical-align: bottom;
    margin: 10px;
}

#change-date-button{
    width: 140px;
    height:30px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin-bottom:20px;
    vertical-align: top;
}

#change-date-button:hover{
    color: white;
    background-color: black;
}