#logo{
    width: 900px;
    margin: 0 auto 35px auto;
    display: block;

}

#sidebar{
    border-right: 1px black dotted;
    width: 190px;
    min-height: 600px;
    background-color: #d6d6d6;
    display: inline-block;
    margin-left: 75px;
    vertical-align: top;
}

.menu-button{
    font-size: 25px;
    width: 190px;
    height: 50px;
    color: black;
    cursor: pointer;
    transition: 0.6s;
    border-bottom: 1px black dotted;
}

.menu-button>a:hover{
    color: blue;
    background-color: gray;
}
.menu-button>a {
    display:block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align:center;
    color: black;
}