<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIP Rent A Car</title>

    <link rel="stylesheet", href="/common.css">
    <link rel="stylesheet", href="/cars.css">

</head>
<body>
<header th:replace = "fragments.html :: header"></header>
<div th:replace = "fragments.html :: sidebar"></div>

    <div id="content">
        <a th:href="@{/addVehicle}" th:if="${role=='ADMIN'}" id="add-vehicle-button"></a>
        <div th:href="@{/bookingPeriod}" id="change-date-button">Change date</div>
        <th:block th:each="vehicle : ${vehicles}">
            <div class="car-box">
    <!--            <img src="toyota_yaris.PNG" class="car-picture">-->
                <div class="car-details">
                    <a class="car-name" th:text="${vehicle.name}"></a>
                    <div class="car-specification">
                        <div><img src="gearboxIcon.png" class="car-specification-icon" th:text="${vehicle.gearbox}"></div>
                        <div><img src="seatsIcon.png" class="car-specification-icon" th:text="${vehicle.seats} + ' Seats'"></div>
                        <div><img src="mileageIcon.png" class="car-specification-icon" th:text="'Average mileage: ' + ${vehicle.mileage} + ' l./100km'"></div>
                        <div><img src="bootIcon.png" class="car-specification-icon" th:text="'Boot Capacity :' + ${vehicle.bootCapacity} + ' l.'"></div>
                    </div>
                </div>
                <div class="car-rent">
                    <div class="car-price" th:text="${vehicle.price}+' /Day'"></div>
                    <div th:href="@{/book/{id}(id=${vehicle.id})}" th:if="${isLogged}" class="book-button">Book</div>
                </div>
                <a th:href="@{/removeVehicle/{id}(id=${vehicle.id})}" th:if="${role=='ADMIN'}" id="remove-vehicle-button"></a>
            </div>
        </th:block>
    </div>
</body>
</html>