<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIP Rent A Car</title>

    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/home.css">

</head>
<body>
    <header th:replace = "fragments.html :: header"></header>
    <div th:replace = "fragments.html :: sidebar"></div>

    <div id="content">
        <h2>VIP Rent A Car</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie sodales elit fringilla aliquet. In tempor euismod eros quis vehicula.
        Nullam lorem mi, sodales et bibendum vitae, laoreet ac nisi. Mauris congue enim augue, ut lacinia purus vestibulum sed. Ut vitae eros at nisl elementum finibus quis viverra urna.
        Ut ante arcu, laoreet sit amet odio ac, hendrerit egestas magna. In tincidunt dolor vel ante sagittis, non ultrices augue posuere.
        Donec sit amet aliquet mauris, vitae vulputate odio. Maecenas ac pharetra erat.</p>

        <p>Pellentesque iaculis vulputate feugiat. Praesent ut metus euismod, cursus justo in, consequat dolor.
        Donec scelerisque faucibus quam id placerat. Proin aliquam tristique blandit. Maecenas mi augue, ultrices ut purus ut, tincidunt volutpat enim.
        Suspendisse mi ex, rutrum at aliquam ac, faucibus consectetur nisi. Praesent varius ipsum vel sagittis pharetra. Integer blandit fringilla quam, sed malesuada dui.
        Nam sollicitudin mattis condimentum. Nunc consectetur at quam in vehicula.</p>

        <p>Donec ligula ligula, ornare non ultricies at, tempus non velit. Donec nec pretium urna, vitae feugiat odio. Etiam non mauris nec ex malesuada scelerisque sed at diam.
        Donec quam purus, ornare a tellus vitae, aliquet ultrices orci. Nunc vitae erat et sem placerat aliquam sagittis a arcu. Integer sit amet dolor metus.
        Maecenas dapibus lacus quis sem pulvinar varius. Phasellus semper dignissim ultricies. Nullam aliquam pulvinar libero sed hendrerit. Ut dapibus sapien ut sem lobortis sollicitudin.
        Fusce tincidunt quam ac nibh facilisis egestas. Sed commodo vel elit ultricies ultricies.</p>
    </div>

</body>
</html>