<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIP Rent A Car</title>

    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/reservations.css">

</head>
<body>
<header th:replace = "fragments.html :: header"></header>
<div th:replace = "fragments.html :: sidebar"></div>

<div id="content">
    <form id="search-user-reservations-form" action="/reservations-search" th:if="${role=='ADMIN'}">
        <label>Name: <input type="text" placeholder="Name" name="name"></label>
        <label>Surname: <input type="text" placeholder="Surname" name="surname"></label>
        <input type="submit" value="Search">
    </form>
    <a th:if="${info}" th:text="${info}" id="cancellationErrorInfo"></a>
    <th:block th:each="reservation : ${reservationsInfo}">
        <div class="car-box">
            <img th:src="${'data:image/png;base64,' + reservation.image}" class="car-picture">
            <div class="car-details">
                <p class="car-name" th:text="${reservation.vehicleName}"></p>
                <div class="car-specification">
                    <div><img src="/img/gearboxIcon.png" class="car-specification-icon" th:text="${reservation.gearBox}"></div>
                    <div><img src="/img/seatsIcon.png" class="car-specification-icon" th:text="${reservation.seats} + ' Seats'"></div>
                    <div><img src="/img/mileageIcon.png" class="car-specification-icon" th:text="'Average mileage: ' + ${reservation.mileage} + ' l/100km'"></div>
                    <div><img src="/img/bootIcon.png" class="car-specification-icon" th:text="'Boot Capacity: ' + ${reservation.bootCapacity} + ' l'"></div>
                </div>
            </div>
            <div class="car-rent">
                <div class="car-price" th:text="'Price:  £'+${reservation.totalPrice}"></div>
                <div class="rent-date" th:text="'From: '+${reservation.startDate}"></div>
                <div class="rent-date" th:text="'To: '+${reservation.endDate}"></div>
                <div class="user-login" th:if="${role=='ADMIN'}" th:text="'Login: '+${reservation.login}"></div>
            </div>
            <a th:href="@{/cancelReservation/{id}(id=${reservation.reservationId})}" class="cancel-reservation-button"></a>
        </div>
    </th:block>
</div>
</body>
</html>